<!DOCTYPE html>
<html lang="de">

<head>
    <title>{{ project.title }} | {{ project.shop.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" type="text/css" href="https://arne-sandberg.github.io/birk/new/style.css">
    <script>
        const delay = ms => new Promise(res => setTimeout(res, ms));

        async function imgSlider() {

            const picture1 = "https://arne-sandberg.github.io/birk/assets/img/gallery-big-01.jpg"
            const picture2 = "https://arne-sandberg.github.io/birk/assets/img/gallery-big-02.jpg"
            const picture3 = "https://arne-sandberg.github.io/birk/assets/img/gallery-big-03.jpg"
            const picture4 = "https://arne-sandberg.github.io/birk/assets/img/gallery-big-04.jpg"

            const pictures = [picture1, picture2, picture3, picture4]

            for (let i = 0; i < pictures.length; i++) {
                // console.log(i, pictures.length)
                await delay(6000);
                document.getElementById("test1").src = pictures[i]
                if (i === (pictures.length - 1)) {
                    i = -1;
                }
            }
        }
        // JavaScript-Code, um den Scroll-Event zu überwachen
        window.addEventListener("scroll", function () {
            var navigation = document.querySelector(".navigation");

            // Überprüfen Sie, wie weit die Seite gescrollt wurde
            if (window.scrollY > 0) {
                // Wenn die Seite gescrollt wurde, fügen Sie die CSS-Klasse "black-bg" hinzu
                navigation.classList.add("black-bg");
            } else {
                // Andernfalls entfernen Sie die CSS-Klasse "black-bg"
                navigation.classList.remove("black-bg");
            }
        });

    </script>
</head>

<body onload="imgSlider()">

    <div id="home"></div>

    <div class="navigation">
        <div class="container">
            <div class="header">
                <div class="left">
                    <img src="{{ project.shop.logoUrl }}" alt="Logo" class="logo-nav" />
                </div>
                <div class="right">
                    <div class="nav">
                        <a href="#home" id="home-nav" class="hover-effect" onclick="stateNav(event)">
                            <span>
                                <div class="hover-element">Home</div>
                                <div class="hover-element active">Home</div>
                            </span>
                        </a>
                        <a href="#location" id="site-nav" class="hover-effect" onclick="stateNav(event)">
                            <span>
                                <div class="hover-element">Lage</div>
                                <div class="hover-element active">Lage</div>
                            </span>
                        </a>
                        <a href="#concept" id="concept-nav" class="hover-effect" onclick="stateNav(event)">
                            <span>
                                <div class="hover-element">Konzept</div>
                                <div class="hover-element active">Konzept</div>
                            </span>
                        </a>
                        <a href="#pricing" id="pricing-nav" class="hover-effect" onclick="stateNav(event)">
                            <span>
                                <div class="hover-element">Preis</div>
                                <div class="hover-element active">Preis</div>
                            </span>
                        </a>
                        <a href="#gallery" id="gallery-nav" class="hover-effect" onclick="stateNav(event)">
                            <span>
                                <div class="hover-element">Gallery</div>
                                <div class="hover-element active">Gallery</div>
                            </span>
                        </a>
                        <a href="#contact" id="contact-nav" class="hover-effect" onclick="stateNav(event)">
                            <span>
                                <div class="hover-element">Kontakt</div>
                                <div class="hover-element active">Kontakt</div>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-bottom: -4px;">
        <img class="hero-img" src="{{ project.images[0].photoUrl }}" alt="home">
        <!-- <img id="test1" class="hero-img" src="https://arne-sandberg.github.io/birk/assets/img/gallery-big-01.jpg"
            alt="home">  -->
        <div class="hero-text">
            <h2>Startklar für Veränderungen. <br>Fertig für dein neues Zuhause!</h2>
            <!-- <h2>Fertigstellen mit Finesse.<br> Immobilien mit Leidenschaft</h2> -->
            <!-- <h2>Get Ready.<br>We're finishing!</h2> -->
        </div>
    </div>

    <div class="ppp-content">
        <div class="container">
            <div class="ppp-text-block">
                <div class="">
                    <img class="icon" src="" alt="i1">
                    <div class="ppp-inside-text-block">
                        <div class="background-is-dark z-index-plus">Überschrift</div>
                        <div class="background-is-dark z-index-plus">Text</div>
                    </div>
                </div>
                <div class="not-show-max-480">
                    <img class="icon" src="" alt="i1">
                    <div class="ppp-inside-text-block">
                        <div class="background-is-dark z-index-plus">Überschrift</div>
                        <div class="background-is-dark z-index-plus">Text</div>
                    </div>
                </div>
                <div class="not-show-max-480">
                    <img class="icon" src="" alt="i1">
                    <div class="ppp-inside-text-block">
                        <div class="background-is-dark z-index-plus">Überschrift</div>
                        <div class="background-is-dark z-index-plus">Text</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ppp-background-wrapper">
            <div class="ppp-background"
                style="background-image: url(https://arne-sandberg.github.io/birk/assets/img/bg-01.jpg);">
            </div>
            <div class="background-color-dark"></div>
        </div>
    </div>

    <div class="about-content">
        <div class="container">
            <div class="about-title">
                {% if locale == "en" %}
                About the project.
                {% endif %}
                {% if locale == "de" %}
                Über das Projekt.
                {% endif %}
            </div>
            <div class="about-text-block">
                <div class="about-text">
                    | {{ project.title }}
                    | {{ project.name }}
                    {% if property.tagline %} {{ property.tagline }} {% endif %}
                    ---
                    {{ project.descriptionNote }}
                </div>
                <!-- <img class="hero-img" src="{{ property.images[0].url }}" alt="home"> -->
                <img class="about-image" src="{{ project.images[1].photoUrl }}" alt="">
            </div>
        </div>
    </div>

    <div class="key-fact-list-content">
        <div class="container">
            <div class="kfl-text-block">
                <div class="kfl-inside-text-block">
                    <img src="" alt="i1">
                    <div>Key Facts A</div>
                </div>
                <div class="kfl-inside-text-block">
                    <img src="" alt="i2">
                    <div>Key Facts B</div>
                </div>
                <div class="kfl-inside-text-block">
                    <img src="" alt="i3">
                    <div>Key Facts C</div>
                </div>
                <div class="kfl-inside-text-block">
                    <img src="" alt="i1">
                    <div>Key Facts D</div>
                </div>
            </div>
        </div>
    </div>

    <div id="location"></div>

    {% if project.longLocationNote %}
    <div class="site-plan-content">
        <div class="container">
            <div class="site-plan-title">
                <h3 class="site-plan-framed">
                    Lageplan
                </h3>
            </div>
            <div class="site-plan-text-block fade">
                <img class="site-plan-image" src="{{ project.images[2].photoUrl }}" alt="">
                <div class="site-plan-text">
                    {{ project.longLocationNote }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <section id="map">
        {% if project.customFields.strasse_auf_landingpage_nicht_anzeigen %} {% if project.zipCode %}
        <div class="map-container pt-4">
            <div class="embed-responsive embed-responsive-21by9">
                <iframe class="embed-responsive-item"
                    src="https://maps.google.de/maps?hl=de&q={{ project.zipCode }} {{ project.city }}&ie=UTF8&output=embed"
                    frameborder="0"></iframe>
            </div>
        </div>
        {% endif %} {% else %} {% if project.lat %}
        <div class="map-container pt-4">
            <div class="embed-responsive embed-responsive-21by9">
                <div id="map-wrap" data-lat="{{ project.lat }}" data-lng="{{ project.lng }}"
                    class="embed-responsive-item"></div>
            </div>
        </div>
        {% endif %} {% endif %}
    </section>

    <div class="site-details-content">
        <div class="container">
            <div class="site-details-title">
                <h3 class="site-details-framed">
                    Lagedetails
                </h3>
            </div>
            <div class="site-details-text-block">
                <div class="site-details-text">
                    {{ project.locationNote }}
                </div>
                <img class="site-details-image" src="{{ project.images[3].photoUrl }}" alt="">
            </div>
        </div>
    </div>

    <div id="concept" class="features-content background-grey">
        <div class="container">
            <div class="features-text-wrapper">
                <div class="features-title">
                    Features.
                </div>
                <div class="features-text-block">
                    <div class="features-inside-text-block">
                        <img class="image-inside-text-block " src="{{ project.images[4].photoUrl }}" alt="p1">
                        <div>
                            <div class="features-inside-text-title">Modern & Safe Living</div>
                            <div> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac ornare felis. Nam
                                velit
                                neque, blandit id placerat eu,
                            </div>
                        </div>
                    </div>
                    <div class="features-inside-text-block">
                        <img class="image-inside-text-block " src="{{ project.images[5].photoUrl }}" alt="p1">
                        <div>
                            <div class="features-inside-text-title">
                                Peaceful Location
                            </div>
                            <div>
                                Mauris ac ornare felis. Nam velit neque, blandit id placerat eu, venenatis at purus.
                                Nunc
                                maximus ultrices lacus
                            </div>
                        </div>
                    </div>
                    <di class="features-inside-text-block">
                        <img class="image-inside-text-block " src="{{ project.images[6].photoUrl }}" alt="p1">
                        <div>
                            <div class="features-inside-text-title">
                                Great Starting Prices
                            </div>
                            <div>
                                Nam velit neque, blandit id placerat eu, venenatis at purus. Nunc maximus ultrices
                                lacus eu
                                fringilla. Mauris ac ornare
                            </div>

                        </div>
                </div>
            </div>
        </div>
    </div>

    <div class="more-contact-content">
        <div class="container">
            <div class="more-contact-content-text-block background-is-dark">
                <a href="#contact"><button class="button-to-contact">zum Kontakt</button></a>
            </div>
            <div class="more-contact-content-background-wrapper">
                <div class="more-contact-content-background"
                    style="background-image: url(https://arne-sandberg.github.io/birk/assets/img/bg-01.jpg);">
                </div>
                <div class="more-contact-background-color-dark"></div>
            </div>
        </div>
    </div>
    <!-- TODO class -->
    <div class="details-content">
        <div class="container">
            <div class="site-plan-title">
                <h3 class="site-plan-framed">
                    Details
                </h3>
            </div>
            <div class="site-plan-text-block">
                <img class="site-plan-image" src="{{ project.images[7].photoUrl }}" alt="">
                <div class="site-plan-text">
                    text
                </div>
            </div>
        </div>
    </div>
    <!-- TODO class -->
    {% if project.furnishingNote %}
    <div class="apartment-furnishings-content">
        <div class="container">
            <div class="site-details-title">
                <h3 class="site-details-framed">
                    {{ t.furnishing }}
                </h3>
            </div>
            <div class="site-details-text-block">
                <div class="site-details-text">
                    {{ project.furnishingNote }}
                    <!-- {{ project.longFurnishingNote }} -->
                </div>
                <img class="site-details-image" src="{{ project.images[8].photoUrl }}" alt="">
            </div>
        </div>
    </div>
    {% endif %}

    <!--
    <div id="pricing" class="pricing-content">
        <div class="container">
            <div class="pricing-title">
                Pricing.
            </div>
            <div class="pricing-options">
                <div>Choose your apartment</div>
                <div>2 Room</div>
                <div>3 Room</div>
                <div>4 Room</div>
            </div>
        </div>
    </div>
    -->

    <div id="pricing" class="chose-apartment-content">
        <div class="container">
            <div class="chose-apartment-title">
                {% if locale == "en" %}
                Chose your apartment.
                {% endif %}
                {% if locale == "de" %}
                Wählen Sie Ihre Wohnung.
                {% endif %}
            </div>

            <div class="">
                <div class="chose-apartment-options-table-header">
                    <div data-col="unit_id">{{ t.unit }}</div>
                    {% for col in project.lpPropertyListColumns %}
                    {% if col == "floorplan" %}
                    <div data-col="floorplan" class="text-right" data-orderable="false">
                        {{ "lp.general.download" | t }}
                    </div>
                    {% else %}
                    <div data-col="{{ col }}" class="text-center">{{ t[col] }}</div>
                    {% endif %}
                    {% endfor %}
                    {% if project.enableLinkingToUnitsLp %}
                    <div data-col="link" class="text-center">
                        {% if locale == "de" %}
                        Link
                        {% else %}
                        Link
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                <div>
                    {% for unit in project.properties %}
                    <div id="p-row-{{ unit.id }}" class="chose-apartment-options-table">
                        <div data-col="unit_id">
                            <span>{{ unit.unitId }}</span>
                        </div>
                        {% for col in project.lpPropertyListColumns %} {% case col %} {% when "floor" %}
                        <div data-col="floor" class="text-center" data-order="{{ unit.floor }}">
                            <span>{{ unit.floorLabel }}</span>
                        </div>
                        {% when "object_type" %}
                        <div data-col="object_type" class="text-center" data-order="{{ unit.objectType }}">
                            <span>{{ unit.objectType }}</span>
                        </div>
                        {% when "rs_category" %}
                        <div data-col="rs_category" class="text-center" data-order="{{ unit.categoryLabel }}">
                            <span>{{ unit.categoryLabel }}</span>
                        </div>
                        {% when "number_of_parking_spaces" %}
                        <div data-col="number_of_parking_spaces" class="text-center"
                            data-order="{{ unit.numberOfParkingSpaces }}">
                            <span>{{ unit.numberOfParkingSpaces }}</span>
                        </div>
                        {% when "rooms" %}
                        <div data-col="rooms" class="text-center" data-order="{{ unit.numberOfRooms }}">
                            <span>{{ unit.numberOfRooms | number }}</span>
                        </div>
                        {% when "space" %}
                        <div data-col="space" class="text-center" data-order="{{ unit.propertySpaceValue }}">
                            <span>{{ unit.propertySpaceValue | number }} m²</span>
                        </div>
                        {% when "plot_area" %}
                        <div data-col="plot_area" class="text-center" data-order="{{ unit.plotArea }}">
                            <span>{{ unit.plotArea | number }} m²</span>
                        </div>
                        {% when "number_of_floors" %}
                        <div data-col="number_of_floors" class="text-center" data-order="{{ unit.numberOfFloors }}">
                            <span>{{ unit.numberOfFloors }}</span>
                        </div>
                        {% when "rented" %}
                        <div data-col="rented" class="text-center" data-order="{{ unit.rented }}">
                            {% if unit.rented %} {% if locale == "de" %}Ja{% else %}Yes{% endif %} {% else %}
                            <span>–</span>
                            {% endif %}
                        </div>
                        {% when "base_rent" %}
                        <div data-col="base_rent" class="text-center" data-order="{{ unit.baseRent }}">
                            <span>{{ unit.baseRent | price: currency }}</span>
                        </div>
                        {% when "rent_subsidy" %}
                        <div data-col="rent_subsidy" class="text-center" data-order="{{ unit.rentSubsidy }}">
                            <span>{{ unit.rentSubsidy | price: currency }}</span>
                        </div>
                        {% when "price" %}
                        <div data-col="price" class="text-center" data-order="{{ unit.price }}">
                            {% if unit.propertyStatus.nonpublic %}
                            <span>–</span>
                            {% else %}
                            <span>{{ unit.price | price: currency }}</span>
                            {% endif %}
                        </div>
                        {% when "price_per_sqm" %}
                        <div data-col="price_per_sqm" class="text-center" data-order="{{ unit.pricePerSqm }}">
                            <span>{{ unit.pricePerSqm | price: currency }}</span>
                        </div>
                        {% when "parking_space_price" %}
                        <div data-col="parking_space_price" class="text-center"
                            data-order="{{ unit.parkingSpacePrice }}">
                            <span>{{ unit.parkingSpacePrice | price: currency }}</span>
                        </div>
                        {% when "status" %}
                        <div data-col="status" class="text-center">
                            {% if unit.propertyStatus.nonpublic %}
                            <span>
                                <i class="fal fa-circle fa-fw text-danger"></i>
                                {{ unit.propertyStatus.name }}
                            </span>
                            {% else %}
                            <span>
                                <i class="fal fa-circle fa-fw text-success"></i>
                                {{ unit.propertyStatus.name }}
                            </span>
                            {% endif %}
                        </div>
                        {% when "floorplan" %}
                        <div data-col="floorplan" class="text-right">
                            {% assign plan = unit.floorplans | map: 'url' | first %} {% if plan %} {% if
                            unit.propertyStatus.name == "Verkauft" or unit.propertyStatus.name == "Reserviert" %}
                            <span>
                                <a class="text-reset text-muted" href="javascript:void(0);">
                                    <small>{% if locale == "de" %}Grundriss{% else %}Foorplan{% endif %}</small>
                                </a>
                            </span>
                            {% else %}
                            <span>
                                <a class="text-reset" target="_blank" href="{{ plan }}">
                                    <small>{% if locale == "de" %}Grundriss{% else %}Foorplan{% endif %}</small>
                                </a>
                            </span>
                            {% endif %} {% endif %}
                        </div>
                        {% when "street" %}
                        <div data-col="street" class="text-center" data-order="{{ unit.streetLabel }}">
                            <span>{{ unit.streetLabel }}</span>
                        </div>
                        {% else %}
                        <div data-col="{{ col }}" class="text-center" data-order="{{ unit[col] }}">
                            <span>{{ unit[col] }}</span>
                        </div>
                        {% endcase %} {% endfor %} {% if project.enableLinkingToUnitsLp %}
                        <div data-col="link" class="text-center">
                            {% if unit.lp_url %} {% if unit.propertyStatus.name == "Verkauft" or
                            unit.propertyStatus.name ==
                            "Reserviert" %}
                            <span>
                                <a class="text-reset text-muted" href="javascript:void(0);">
                                    <small>{% if locale == "de" %}Exposé{% else %}Expose{% endif %}</small>
                                </a>
                            </span>
                            {% else %}
                            <span>
                                <a class="text-reset" target="_blank" href="{{ unit.lp_url }}">
                                    <small>{% if locale == "de" %}Exposé{% else %}Expose{% endif %}</small>
                                </a>
                            </span>
                            {% endif %} {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div id="gallery" class="gallery-content">
        <div class="container">
            <div class="gallery-title">
                Gallery.
            </div>
            <!-- <div> A {{ property.id }}</div> -->
            <div class="gallery-block">
                <!-- {{ property.images[0].url }} -->
                {% for image in property.images %}
                <!-- {% if image.title %} {{ image.title }} {% endif %} -->
                <img src="{{ image.url }}" class="gallery-item">
                </img>
                {% endfor %}

                {% for image in project.images %}
                <!-- {% if image.title %} {{ image.title }} {% endif %} -->
                <img src="{{ image.photoUrl }}" class="gallery-item">
                </img>
                {% endfor %}

                <!-- <div class="image-cell" title="{{ image.title }}" data-src="{{ image.photoUrl }}">
                  
                </div> -->

                <!-- <img class="gallery-item" src="https://arne-sandberg.github.io/birk/assets/img/gallery-big-04.jpg"
                    alt="p1">
                <img class="gallery-item" src="https://arne-sandberg.github.io/birk/assets/img/gallery-big-04.jpg"
                    alt="p1">
                <img class="gallery-item" src="https://arne-sandberg.github.io/birk/assets/img/gallery-big-04.jpg"
                    alt="p1">
                <img class="gallery-item" src="https://arne-sandberg.github.io/birk/assets/img/gallery-big-04.jpg"
                    alt="p1">
                <img class="gallery-item" src="https://arne-sandberg.github.io/birk/assets/img/gallery-big-04.jpg"
                    alt="p1">
                <img class="gallery-item" src="https://arne-sandberg.github.io/birk/assets/img/gallery-big-04.jpg"
                    alt="p1"> -->

            </div>
        </div>

    </div>

    <div class="quote-content">
        <div class="container">
            <div class="quote-text-block background-is-dark">
                <q>Ein Haus sollte die Freude am Leben verkörpern, ein Ort des Glücks und der Harmonie sein, ein Ort, um
                    sich zu entspannen und wiederzufinden. <br> - Frank Lloyd Wright</q>
            </div>
            <div class="quote-background-wrapper">
                <div class="quote-background"
                    style="background-image: url(https://arne-sandberg.github.io/birk/assets/img/gallery-big-01.jpg);">
                </div>
                <div class="quote-background-color-dark"></div>
            </div>
        </div>
    </div>

    <div id="contact" class="agent-content">
        <div class="container">
            <div class="agent-block">
                <img class="agent-rounded" src="{{ broker.avatarUrl }}" />
                <div class="agent-description-section">

                    <p>Ihr Kontakt: {{broker.name}}</p>
                    {% if broker.position %}
                    <p>{{broker.position}}</p>
                    {% endif %}
                    {% if broker.email %}
                    <p>Per Mail: <a href="mailto:{{ broker.email }}">{{ broker.email }}</a></p>
                    {% endif %}
                    {% if broker.phone %}
                    <p>Per Telefon: <a href="tel:{{ broker.phone }}">{{ broker.phone }}</a></p>
                    {% endif %}
                </div>
                <!--
                <div class="agent-contact">
                    contact
                </div> -->
            </div>
        </div>

    </div>

    <!--
    <div class="other-projects-content">
        <div class="container">
            <div class="other-projects-text-wrapper">
                <div class="other-projects-text-block">
                    <div class="other-projects-inside-text-block">
                        <img class="image-inside-text-block "
                            src="https://arne-sandberg.github.io/birk/assets/img/gallery-big-04.jpg" alt="p1">
                        <div>
                            <div class="other-projects-inside-text-title">Modern & Safe Living</div>
                            <div> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac ornare felis. Nam
                                velit
                                neque, blandit id placerat eu,
                            </div>
                        </div>
                    </div>
                    <div class="other-projects-inside-text-block">
                        <img class="image-inside-text-block "
                            src="https://arne-sandberg.github.io/birk/assets/img/gallery-big-04.jpg" alt="p1">
                        <div>
                            <div class="other-projects-inside-text-title">
                                Peaceful Location
                            </div>
                            <div>
                                Mauris ac ornare felis. Nam velit neque, blandit id placerat eu, venenatis at purus.
                                Nunc
                                maximus ultrices lacus
                            </div>
                        </div>
                    </div>
                    <di class="other-projects-inside-text-block">
                        <img class="image-inside-text-block "
                            src="https://arne-sandberg.github.io/birk/assets/img/gallery-big-04.jpg" alt="p1">
                        <div>
                            <div class="other-projects-inside-text-title">
                                Great Starting Prices
                            </div>
                            <div>
                                Nam velit neque, blandit id placerat eu, venenatis at purus. Nunc maximus ultrices
                                lacus eu
                                fringilla. Mauris ac ornare
                            </div>

                        </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="logo-slider-content">
        <div class="container">
            Logo Slider
        </div>
    </div>
    -->

    <div class="footer">
        <div class="container">
            <div class="footer-text-block background-is-dark">Footer</div>
        </div>
        <div class="footer-background-wrapper">
            <div class="footer-background"
                style="background-image: url(https://arne-sandberg.github.io/birk/assets/img/footer-bg.jpg);">
            </div>
            <div class="background-color-dark"></div>
        </div>

    </div>

</body>

<script>
    function stateNav(e) {
        console.log(e.target.id)
    }


</script>

</html>