body {
    margin: 0;
}

.container {
    width: 1170px;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 970px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 750px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: auto;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.navigation {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: black;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-nav {
    height: 46px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 10px;
}

.nav-element {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.hero-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 40vh;
    left: 10vw;
}

.page-content {
    height: 300vh;
}

/** */

.ppp-content {
    position: relative;
    height: 370px;
}

.ppp-background-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.ppp-background {
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    width: 100%;
    opacity: 0.15;
}

.ppp-text-block {
    height: 230px;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ppp-inside-text-block {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 10px;
}

/** */

.about-content {
    height: 640px;
    background-color: #F2F2F2;
}

/** */

.key-fact-list-content {
    height: 220px;
}

.kfl-text-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
    height: 80px;
}

.kfl-inside-text-block {
    position: relative;
    display: flex;
    flex-direction: row;
}

.ppp-inside-text-block-2 {
    position: relative;
    display: flex;
    flex-direction: column;
}

/** */

.site-plan-content {
    height: 600px;
}

.site-plan-title {
    position: relative;
    z-index: 2;
    text-align: left;
}

.site-plan-framed {
    position: relative;
    display: inline-block;
    border: 15px solid rgba(0, 0, 0, 0.05);
    padding-top: 20px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 70px;
    margin-bottom: -80px;
    z-index: 2;
}

.site-plan-text-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.site-plan-image {
    padding-left: 70px;
    padding-right: 15px;
    width: 50%
}

.site-plan-text {
    display: flex;
    flex-grow: 1;
    padding-left: 15px;
    padding-right: 15px;
}

/** */

.site-details-content {
    height: 600px;
}

.site-details-title {
    position: relative;
    z-index: 2;
    text-align: right;
}

.site-details-framed {
    position: relative;
    display: inline-block;
    border: 15px solid rgba(0, 0, 0, 0.05);
    padding-top: 20px;
    padding-bottom: 100px;
    padding-left: 70px;
    padding-right: 20px;
    margin-bottom: -80px;
    z-index: 2;
}

.site-details-text-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.site-details-image {
    padding-left: 15px;
    padding-right: 70px;
    width: 50%
}

.site-details-text {
    display: flex;
    flex-grow: 1;
    padding-left: 15px;
    padding-right: 15px;
}

/** */

.features-content {
    height: 540px;
}

.features-text-wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
}

.features-title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 60px;
}

.features-text-block {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.features-inside-text-block {
    display: flex;
    flex-direction: column;
}

.features-inside-text-title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;

}

.image-inside-text-block {
    width: 100%;
}

/** */

.more-contact-content {
    height: 150px;
}

/** */

.details-content {
    height: 600px;
}

/** */

.apartment-furnishings-content {
    height: 600px;
}

/** */

.pricing-content {
    height: 720px;
}

/** */

.chose-appartment-content {
    height: 520px;
    background-color: #F2F2F2;
}

/** */

.gallery-content {
    height: 740px;
}

/** */

.quote-content {
    height: 220px;
}

/** */

.agent-content {
    height: 480px;
}

/** */

.other-projects-content {
    height: 370px;
}

/** */

.logo-slider-content {
    height: 190px;
}

/** */

.footer {
    position: relative;
    height: 250px;
}

.footer-background-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.footer-background {
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    width: 100%;
    opacity: 0.15;
}

.footer-text-block {
    height: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/** */

.background-color-dark {
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.background-is-dark {
    color: white;
}

.z-index-plus {
    z-index: 1;
}